body {  background: transparent !important;}


/* Background Colors */
.bg-black { background-color: rgb(0 0 0);}
.bg-white { background-color: rgb(255 255 255);}
.bg-aurora-ink-blue { background-color: #001c40;}
.bg-aurora-brand-blue { background-color: #003a9b;}
.bg-aurora-a11y-blue { background-color: #6792f0;}
.bg-aurora-red-alert { background-color: #a9252b;}
.bg-aurora-button-dark { background-color: #2557a7;}
.bg-aurora-button-light { background-color: #3f73d3;}
.bg-aurora-gray-10 { background-color: #2d2d2d;}
.bg-aurora-green-10 { background-color: #19332d;}
.bg-aurora-aqua-10 { background-color: #123141;}
.bg-aurora-blue-10 { background-color: #0d2d5e;}
.bg-aurora-purple-10 { background-color: #2c2071;}
.bg-aurora-magenta-10 { background-color: #4f1c36;}
.bg-aurora-orange-10 { background-color: #462615;}
.bg-aurora-earth-10 { background-color: #3d2b12;}
.bg-aurora-gray-9 { background-color: #424242;}
.bg-aurora-green-9 { background-color: #234840;}
.bg-aurora-aqua-9 { background-color: #1d465c;}
.bg-aurora-blue-9 { background-color: #164081;}
.bg-aurora-purple-9 { background-color: #3f2f9b;}
.bg-aurora-magenta-9 { background-color: #74234e;}
.bg-aurora-orange-9 { background-color: #623721;}
.bg-aurora-earth-9 { background-color: #553d1c;}
.bg-aurora-gray-8 { background-color: #595959;}
.bg-aurora-green-8 { background-color: #2b6256;}
.bg-aurora-aqua-8 { background-color: #1f5f7b;}
.bg-aurora-blue-8 { background-color: #2557a7;}
.bg-aurora-purple-8 { background-color: #5644bf;}
.bg-aurora-magenta-8 { background-color: #9d2b6b;}
.bg-aurora-orange-8 { background-color: #89471e;}
.bg-aurora-earth-8 { background-color: #735324;}
.bg-aurora-gray-7 { background-color: #767676;}
.bg-aurora-green-7 { background-color: #358271;}
.bg-aurora-aqua-7 { background-color: #237ea3;}
.bg-aurora-blue-7 { background-color: #3f73d3;}
.bg-aurora-purple-7 { background-color: #7461e7;}
.bg-aurora-magenta-7 { background-color: #c74289;}
.bg-aurora-orange-7 { background-color: #b4602b;}
.bg-aurora-earth-7 { background-color: #996e2c;}
.bg-aurora-gray-6 { background-color: #949494;}
.bg-aurora-green-6 { background-color: #4ca38f;}
.bg-aurora-aqua-6 { background-color: #409ec8;}
.bg-aurora-blue-6 { background-color: #6792f0;}
.bg-aurora-purple-6 { background-color: #9288ee;}
.bg-aurora-magenta-6 { background-color: #e867a8;}
.bg-aurora-orange-6 { background-color: #df7838;}
.bg-aurora-earth-6 { background-color: #c08a38;}
.bg-aurora-gray-5 { background-color: #b4b2b1;}
.bg-aurora-green-5 { background-color: #7bc0ae;}
.bg-aurora-aqua-5 { background-color: #7abbdf;}
.bg-aurora-blue-5 { background-color: #9bb1f0;}
.bg-aurora-purple-5 { background-color: #b1abf4;}
.bg-aurora-magenta-5 { background-color: #ee99bf;}
.bg-aurora-orange-5 { background-color: #f39e78;}
.bg-aurora-earth-5 { background-color: #e0a961;}
.bg-aurora-gray-4 { background-color: #d4d2d0;}
.bg-aurora-green-4 { background-color: #b9dad0;}
.bg-aurora-aqua-4 { background-color: #b6d7ee;}
.bg-aurora-blue-4 { background-color: #c7d2f6;}
.bg-aurora-purple-4 { background-color: #d2cef6;}
.bg-aurora-magenta-4 { background-color: #f3c7d9;}
.bg-aurora-orange-4 { background-color: #f7c8b8;}
.bg-aurora-earth-4 { background-color: #f5cb9d;}
.bg-aurora-gray-3 { background-color: #e4e2e0;}
.bg-aurora-green-3 { background-color: #cde8e1;}
.bg-aurora-aqua-3 { background-color: #cde6f9;}
.bg-aurora-blue-3 { background-color: #dbe2fd;}
.bg-aurora-purple-3 { background-color: #e2e0fd;}
.bg-aurora-magenta-3 { background-color: #f9dae8;}
.bg-aurora-orange-3 { background-color: #f9ddd3;}
.bg-aurora-earth-3 { background-color: #f9dec5;}
.bg-aurora-gray-2 { background-color: #f3f2f1;}
.bg-aurora-green-2 { background-color: #e6f5f1;}
.bg-aurora-aqua-2 { background-color: #e8f3fc;}
.bg-aurora-blue-2 { background-color: #eef1fe;}
.bg-aurora-purple-2 { background-color: #f2f1fe;}
.bg-aurora-magenta-2 { background-color: #fceef4;}
.bg-aurora-orange-2 { background-color: #fcefeb;}
.bg-aurora-earth-2 { background-color: #fcf0e6;}
.bg-aurora-gray-1 { background-color: #faf9f8;}
.bg-aurora-green-1 { background-color: #f5fbf9;}
.bg-aurora-aqua-1 { background-color: #f5fafe;}
.bg-aurora-blue-1 { background-color: #f8f9fe;}
.bg-aurora-purple-1 { background-color: #f9f9fe;}
.bg-aurora-magenta-1 { background-color: #fdf8fa;}
.bg-aurora-orange-1 { background-color: #fef8f7;}
.bg-aurora-earth-1 { background-color: #fef8f4;}


/* Background Gradients (applies light white gradient that affects underlying colors) */
.bg-gradient-end { background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important}
.bg-gradient-start { background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important}
.bg-gradient-top { background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0)) !important}
.bg-gradient-sm { background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important}
.bg-gradient-end-sm { background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important}
.bg-gradient-start-sm { background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important}
.bg-gradient-top-sm { background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important}
.bg-gradient-vsm { background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0)) !important}
.bg-gradient-end-vsm { background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0)) !important}
.bg-gradient-start-vsm { background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0)) !important}
.bg-gradient-top-vsm { background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.075), rgba(255, 255, 255, 0)) !important}


/* Border Positions (.border default is all edges) */
.border-top
.border-bottom
.border-start
.border-end


/* Border Sizes (.border default is 1)*/
.border-2
.border-3
.border-4
.border-5


/* Border Styles (.border default is solid) */
.border-dashed { border-style: dashed !important;}
.border-dotted { border-style: dotted !important;}


/* Corner Rounding */
.rounded-5 {  border-radius: 0.5rem !important;}
.rounded-8 {  border-radius: 0.8rem !important;}
.rounded-10 {  border-radius: 1rem !important;}
.rounded-20 {  border-radius: 2rem !important;}
.rounded-30 {  border-radius: 3rem !important;}
.rounded-40 {  border-radius: 4rem !important;}
.rounded-50 {  border-radius: 5rem !important;}
.rounded-100 {  border-radius: 10rem !important;}
.rounded-top-5 { border-top-left-radius: 0.5rem !important; border-top-right-radius: 0.5rem !important; }
.rounded-bottom-5 { border-bottom-left-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important; }
.rounded-start-5 { border-top-left-radius: 0.5rem !important; border-bottom-left-radius: 0.5rem !important; }
.rounded-end-5 { border-top-right-radius: 0.5rem !important; border-bottom-right-radius: 0.5rem !important; }
.rounded-top-start-5 { border-top-left-radius: 0.5rem !important; }
.rounded-top-end-5 { border-top-right-radius: 0.5rem !important; }
.rounded-bottom-start-5 { border-bottom-left-radius: 0.5rem !important; }
.rounded-bottom-end-5 { border-bottom-right-radius: 0.5rem !important; }
.rounded-top-8 { border-top-left-radius: 0.8rem !important; border-top-right-radius: 0.8rem !important; }
.rounded-bottom-8 { border-bottom-left-radius: 0.8rem !important; border-bottom-right-radius: 0.8rem !important; }
.rounded-start-8 { border-top-left-radius: 0.8rem !important; border-bottom-left-radius: 0.8rem !important; }
.rounded-end-8 { border-top-right-radius: 0.8rem !important; border-bottom-right-radius: 0.8rem !important; }
.rounded-top-start-8 { border-top-left-radius: 0.8rem !important; }
.rounded-top-end-8 { border-top-right-radius: 0.8rem !important; }
.rounded-bottom-start-8 { border-bottom-left-radius: 0.8rem !important; }
.rounded-bottom-end-8 { border-bottom-right-radius: 0.8rem !important; }
.rounded-top-10 { border-top-left-radius: 1rem !important; border-top-right-radius: 1rem !important; }
.rounded-bottom-10 { border-bottom-left-radius: 1rem !important; border-bottom-right-radius: 1rem !important; }
.rounded-start-10 { border-top-left-radius: 1rem !important; border-bottom-left-radius: 1rem !important; }
.rounded-end-10 { border-top-right-radius: 1rem !important; border-bottom-right-radius: 1rem !important; }
.rounded-top-start-10 { border-top-left-radius: 1rem !important; }
.rounded-top-end-10 { border-top-right-radius: 1rem !important; }
.rounded-bottom-start-10 { border-bottom-left-radius: 1rem !important; }
.rounded-bottom-end-10 { border-bottom-right-radius: 1rem !important; }
.rounded-top-20 { border-top-left-radius: 2rem !important; border-top-right-radius: 2rem !important; }
.rounded-bottom-20 { border-bottom-left-radius: 2rem !important; border-bottom-right-radius: 2rem !important; }
.rounded-start-20 { border-top-left-radius: 2rem !important; border-bottom-left-radius: 2rem !important; }
.rounded-end-20 { border-top-right-radius: 2rem !important; border-bottom-right-radius: 2rem !important; }
.rounded-top-start-20 { border-top-left-radius: 2rem !important; }
.rounded-top-end-20 { border-top-right-radius: 2rem !important; }
.rounded-bottom-start-20 { border-bottom-left-radius: 2rem !important; }
.rounded-bottom-end-20 { border-bottom-right-radius: 2rem !important; }
.rounded-top-30 { border-top-left-radius: 3rem !important; border-top-right-radius: 3rem !important; }
.rounded-bottom-30 { border-bottom-left-radius: 3rem !important; border-bottom-right-radius: 3rem !important; }
.rounded-start-30 { border-top-left-radius: 3rem !important; border-bottom-left-radius: 3rem !important; }
.rounded-end-30 { border-top-right-radius: 3rem !important; border-bottom-right-radius: 3rem !important; }
.rounded-top-start-30 { border-top-left-radius: 3rem !important; }
.rounded-top-end-30 { border-top-right-radius: 3rem !important; }
.rounded-bottom-start-30 { border-bottom-left-radius: 3rem !important; }
.rounded-bottom-end-30 { border-bottom-right-radius: 3rem !important; }
.rounded-top-40 { border-top-left-radius: 4rem !important; border-top-right-radius: 4rem !important; }
.rounded-bottom-40 { border-bottom-left-radius: 4rem !important; border-bottom-right-radius: 4rem !important; }
.rounded-start-40 { border-top-left-radius: 4rem !important; border-bottom-left-radius: 4rem !important; }
.rounded-end-40 { border-top-right-radius: 4rem !important; border-bottom-right-radius: 4rem !important; }
.rounded-top-start-40 { border-top-left-radius: 4rem !important; }
.rounded-top-end-40 { border-top-right-radius: 4rem !important; }
.rounded-bottom-start-40 { border-bottom-left-radius: 4rem !important; }
.rounded-bottom-end-40 { border-bottom-right-radius: 4rem !important; }
.rounded-top-50 { border-top-left-radius: 5rem !important; border-top-right-radius: 5rem !important; }
.rounded-bottom-50 { border-bottom-left-radius: 5rem !important; border-bottom-right-radius: 5rem !important; }
.rounded-start-50 { border-top-left-radius: 5rem !important; border-bottom-left-radius: 5rem !important; }
.rounded-end-50 { border-top-right-radius: 5rem !important; border-bottom-right-radius: 5rem !important; }
.rounded-top-start-50 { border-top-left-radius: 5rem !important; }
.rounded-top-end-50 { border-top-right-radius: 5rem !important; }
.rounded-bottom-start-50 { border-bottom-left-radius: 5rem !important; }
.rounded-bottom-end-50 { border-bottom-right-radius: 5rem !important; }


/* Shadows (.shadow is default)*/
.shadow-center { box-shadow: 0 0.5rem 1rem 0rem rgba(0, 0, 0, .15) !important}
.shadow-top-start { box-shadow: 0 -.5rem 1rem -1rem rgba(0, 0, 0, .15) !important; box-shadow: -1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important;}
.shadow-bottom-start { box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, .15) !important; box-shadow: -1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important;}
.shadow-top-end { box-shadow: 0 -.5rem 1rem -1rem rgba(0, 0, 0, .15) !important; box-shadow: 1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important;}
.shadow-bottom-end { box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, .15) !important; box-shadow: 1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important;}
.shadow-top { box-shadow: 0 -.5rem 1rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-end { box-shadow: 1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-start { box-shadow: -1rem 0 1rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-bottom { box-shadow: 0 1.5rem 1rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-top-lg { box-shadow: 0 -2rem 3rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-end-lg { box-shadow: 1rem 0 3rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-start-lg { box-shadow: -1rem 0 3rem -1rem rgba(0, 0, 0, .15) !important}
.shadow-bottom-lg { box-shadow: 0 4rem 3rem -1rem rgba(0, 0, 0, .15) !important}


/* Layer Control (higher value is toward front/top) (default is order of object creation, which can create issues) */
.z-1 { z-index: 100 !important;}
.z-2 { z-index: 200 !important;}
.z-3 { z-index: 300 !important;}
.z-4 { z-index: 400 !important;}
.z-5 { z-index: 500 !important;}
.z-6 { z-index: 600 !important;}
.z-7 { z-index: 700 !important;}
.z-8 { z-index: 800 !important;}
.z-9 { z-index: 900 !important;}
.z-10 { z-index: 1000 !important;}
.z-11 { z-index: 1100 !important;}
.z-12 { z-index: 1200 !important;}
.z-13 { z-index: 1300 !important;}
.z-14 { z-index: 1400 !important;}
.z-15 { z-index: 1500 !important;}


/* Example Preset Combination (rounded-20, shadow, bg-white, z-1)*/
.preset-r20-sh-bgw-z1 {
  border-radius: 2rem !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15) !important;
  background-color: rgb(255 255 255);
  z-index: 100 !important;
}

/* Example Custom Gradient (light blue to light magenta, diagonal)*/
.gradient-bg {  background: linear-gradient(120deg, #EEF1FE, #FCEEF4);}

.border-bblue { 
  border: 3px solid #003a9b !important;
}
